# ignore all audio files in raw data folder except .gitkeep
data/raw/**
!data/raw/**/.gitkeep
*.wav
*.mp3
*.flac

# standard python ignores
.venv/
__pycache__/
*.pyc

# ignore processing files
data/processed/npz/
data/processed/*.csv
data/processed/metadata.json